
<div class="auction-form">
  <h2>Edit Auction</h2>
  <form class="input-form" action="/auctions/<%= @auction.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <input type="text" name="auction[name]" placeholder="item" value="<%= @auction.name %>">
    <input type="text" name="auction[condition]" placeholder="condition" value="<%= @auction.condition %>">
    <input type="text" name="auction[description]" placeholder="description" value="<%= @auction.description %>">
    <input type="datetime-local" name="auction[start]" placeholder="start time" value="<%= @auction.start %>">
    <input type="datetime-local" name="auction[end]" placeholder="end time" value="<%= @auction.end %>">
    <input type="submit" value="update auction">
  </form>
</div>
