<div class="container">
  <h1>Welcome, <%= @user.user_name %></h1>
</div>

<div class="container">
<h1>Your Auctions:</h1>
  <ul>
    <% @user.posts.each do | post | %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <% if session[:id] == @user.id %>
        <a href="/posts/<%= post.id %>/edit">Edit</a>
        <form class="delete-post" action="/posts/<%= post.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="submit" value="Delete">
        </form>
      <% end %>
    </li>
    <% end %>
  </ul>


  <% if session[:id] == @user.id %>
    <a href="/posts/new">New Post</a>
  <% end %>

</div>
